body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/* ヘッダー */
#header {
    height: 5%;
    background-color: #FFC042;
    display: flex;
    align-items: center;
}
#header-title{
    padding-left: 10px;
}
/* /ヘッダー */
/* コンテンツ */
/* 地図 */
#map-area {
    height: 95%;
    display: flex;
}
#map {
    width: 100%;
    /* width: 100%; */
    height: 100%;
}
/* /コンテンツ */

/* /popupデザイン */
.my-class {
    color: rgb(0, 0, 0);  
    font-weight: bold;
    font-size: 15px;
  }
  
.my-class .maplibregl-popup-content {
background-color: rgb(187, 255, 187);
box-shadow: 6px 6px 6px rgba(100, 100, 100, 0.24);
border: 2px solid rgb(0, 172, 74);
border-radius: 8px;

}
